<h2>Template: Switches</h2>
<hr>


<form #miFormulario="ngForm">
    <!-- Radio -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">

            <div class="form-check">
                <input class="form-check-input" type="radio" name="radioGenero" id="rMasculino" [(ngModel)]="persona.genero" value="M" required>
                <label class="form-check-label" for="rMasculino">
                    Masculino
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radioGenero" id="rFemenino" [(ngModel)]="persona.genero" value="F" required>
                <label class="form-check-label" for="rFemenino">
                  Femenino
                </label>
            </div>


        </div>
    </div>


    <!-- Switches-->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label mt-2">Notificaciones</label>
        <div class="col-sm-9">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" [(ngModel)]="persona.notificaciones" name="notificaciones">
                <label class="form-check-label" for="flexSwitchCheckChecked">Recibir notificaciones</label>
            </div>

        </div>
    </div>

    <!-- Check-->
    <div class="row mb-3">
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="flexCheckDefault" [(ngModel)]="terminosYCondiciones" name="terminos" required>
                <label class="form-check-label" for="flexCheckDefault">
                    Términos y condiciones de uso
                </label>
            </div>
        </div>
    </div>


    <!-- Boton -->
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end" [disabled]="miFormulario.invalid">Guardar</button>
        </div>
    </div>

</form>


<h5>Valor del formulario</h5>
<pre>{{miFormulario.value | json}}</pre>

<h5>Persona</h5>
<pre>{{persona | json}}</pre>

<h5>Valid</h5>
<pre>{{miFormulario.valid | json}}</pre>

<h5>Términos</h5>
<pre>{{miFormulario.controls['terminos']?.errors | json}}</pre>